* {
    margin: 0;
    padding: 0;
}

body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #0e1217;
  color: #fff;
}

#Save {
    background-color: rgb(57, 130, 57);
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    
}

#posts-list {
  list-style: none;
  padding: 0;
}

#posts-list li {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  margin: 5px;
}
