* {
    margin: 0;
    padding: 0;
}

body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #0e1217;
  color: #fff;
}

#new-post-btn {
    background: #0e1217;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #fff;

}

*/se estiver bugado basta remover a tag abaixo*/

#form-container {
    background: #1c1f26;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

#Save {
    background-color: rgb(57, 130, 57);
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    
}

#posts-list {
  list-style: none;
  padding: 0;
}

#posts-list li {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

button {
    margin: 5px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: red;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
